* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}
html {
    font-size: 62.5%;
}
body{
    overflow-x: hidden;
}
/* NAV */
.nav-bar {
    width: 100%;
    height: 15rem;
    background-color:#10181d;
    padding: 1rem;
    .container-nav {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        width: 100%;
        height: 8rem;
    }
    .burguer-icon {
        height: 5rem;
        width: 100%;
    }
    .another-pages a {
        padding-right: 1rem;
    }
    .burguer-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 11rem;
        right: 1rem;
        width: 17rem;
        height: 24rem;
        background-color: cornsilk;
        border: 0.1rem solid rgb(0, 0, 0);
        a {
            text-decoration: none;
            font-size: 1.5rem;
            font-weight: bold;
            color: rgb(0, 0, 0);
        }
        .links {
            border: 0.1rem solid rgb(0, 0, 0);
            padding: 2rem 1rem;
            display: flex;
            align-items: center;
            .links-icons {
                width: 3rem;
                height: 3rem;
                margin-right: 1rem;
            }
        }
    }
    .inactive {
        display: none;
    }
}
/* MAIN */
.container {
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#10181d ;
    .main-title {
        position: absolute;
        margin: 5rem;
        .title {
            font-size: 3rem;
            font-weight: bold;
            color: white;
        }
        .subtitle {
            font-size: 1.5rem;
            color: white;
        }
    }
    img {
        width: 100%;
        height: 67rem;
    }
}
/* FORMS */
.formulario {
    width: 100%;
    background-color: #10181d;
    /* padding: 4rem 0; */
    height: 70rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .forms-container  {
        background-color: black;
        border-radius: 1.5rem;
        padding: 3rem;
        width: 75%;
        height: 75%;
        /* margin: 0 auto; */
        color: white;
        .forms-title {
            font-size: 2rem;
            text-align: center;
            margin-bottom: 2rem;
        }
        .forms {
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto;
            margin-bottom: 2rem;
            gap: 2rem;
            label {
                font-size: 1.5rem;
                width: 100%;
            }
            input {
                display: inline-block;
                width: 100%;
            }
            .submit {
                margin: 1rem 0;
            }
        }
    }
}
.results {
    width: 100%;
    height: 20rem;
    background-color: #10181d;
    padding: 1rem;
    color: white;
    .results-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(5,auto);
        gap: 1rem;
        padding: 1rem;
        background-color: black;
        border-radius: 1.5rem;
        font-size: 1.5rem;
        place-items: center;
    }
    .titles {
        font-weight: 300;
    }
}

/* FOOTER */
.footer-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
    background-color: black;
    a, h1, h3 {
        color: white;
        font-weight: lighter;
    }
    .TitleFooter{
        font-size: 1.8rem;
        margin: 1rem 0;
    }
    .infoContact, .SocialMedia{
        padding: 1rem;
        ul {
            list-style: none;
        }
        li{
            margin-bottom: 1rem;
            display:flex;
        }
    }
    .IconsFooter {
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
    }
}